{# src/OC/PlatformBundle/Ressources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
	<title>Bienvenu {{ nom }} sur ma premiere page</title>
</head>
<body>
	<h1>Lorem {{ nom }} ipsum dolor sit amet, consectetur adipisicing elit.</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem alias voluptate, nihil culpa. Delectus vero, cumque repudiandae consequatur veniam, in inventore laborum. Quo ratione recusandae facere, accusantium a laborum, ea.</p>
</body>
</html>